*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.FirstPage{
    position: relative;
    text-align: center;
    top:0;
    overflow: hidden;
}
.fit{
    width: 1535px;
    height: 100vh;
}

.FirstPage h1{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:2;
    /* color: #34495e; */
    color: rgb(80, 8, 8);
    font-size: 3vw;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Libre Baskerville', serif;
} 

.move{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:2;
    font-size: 2vw;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    color: #34495e;
    font-weight: 100;
}
.move:before{
    content:'';
    animation: animate 2s infinite;
}

@keyframes animate{
    20%{
        content:'Student';
    }
    60%{
        content: 'Web Developer';
    }
    100%{
        content: 'Software Engineer';
    }
}

.AboutMe{
    position: relative;
     display: inline-grid;
     grid-template-columns: 40% 50%;
     text-align: left;
     align-items: center;
     /* padding: 25px 45px 50px; */
     padding: 1.5vh 2.5vh 2.7vh;
     height: 100vh;
     overflow:hidden;
}
.AboutMe img{
    margin-top:1vh;
    margin-left: 10vw;
    height:70vh;
    width: 28vw;
}
.me{
    padding-left:8vh;
}

.me h2{
    font-size:5vh;
}
.me h3{
    font-size: 3.5vh;
    color: #34495e;
}
.me p{
    font-size: 2.5vh;
    line-height: 150%;
    color: rgb(170, 165, 165);
}

.education{
    height:20vh;
    width: 100vw;
}


.college_Name{
    display: flex;
}
.college_Name h2{
    padding-top: 3.5vh;
    font-size:3.5vh ;
    color: #575e64;
}

.material-icons{
    font-size:3.5vh ;
    color: #34495e;
    padding-top: 3.5vh;
}

.degree{
    padding-left: 2vw; 
    padding-top: 1.3vh;
    font-size: 3vh;
}
.cgpa{
    padding-left: 2vw;
    padding-top: 1.3vh;
    font-size: 3vh;
}
.year{
    padding-left: 2vw;
    padding-top: 1.3vh;
    font-size: 3vh;
}

.skills{
    height: 80vh;
    width: 100vw;
    background-color: rgb(230, 225, 225);
    overflow:hidden;
}
.heading h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 4vh;
    padding-top: 4.5vh;
    padding-left: 19vw;
}

.title{
    font-size: 3vh;
    font-weight: 400;
    padding-left: 19vw ;
    padding-top: 4.5vh;
    padding-bottom: 2vh;
    color: #34495e;
}

.bar{
    height: 4vh;
    width: 55vw;
    background-color: white;
    margin-left: 19vw;
}

.color1, .color2, .color3, .color4{
    height: 30px;
    background-color: rgb(190, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1{
    width: 44vw;
    padding-left: 3vw;
}

.color2{
    width: 38.5vw;
    padding-left: 8vw;
}

.color3{
    width: 38.5vw;
    padding-left: 8vw;
}

.color4{
    width: 33vw;
    padding-left: 13vw;
}

.projects{
    overflow:hidden;
    height: 160vh;
    width: 100vw;
}


.project-desc{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.heading2 h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 5.5vh;
    padding-top: 7vh;
    text-align: center;
}

.instagramLiker, 
.problemSolver,
.jiraAppTasker,
.excelClone,
.drum{
    height: 55vh;
    width: 28vw;
    background-color: rgb(247, 239, 239);
    margin-top: 8vh;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px rgb(185, 177, 177);
}

.instagramLiker h4, 
.problemSolver h4,
.jiraAppTasker h4,
.excelClone h4,
.drum h4{
    text-align: center;
    padding-top: 6vh;
    font-size: 3.5vh;
    color:#34495e;
    font-family: 'Uchen', serif;
}

.desc{
    padding-top: 3vh;
    color: gray;
    text-align: center; 
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.image{
    padding-left: 10.4vw;
    padding-top: 4vh;
    height: 15vh;
    width: 15vw;
    border-radius: 50%;
    background-size: contain;
}
.project-desc img{
    height:13.5vh;
    width: 7vw;
    border-radius: 50%;
}

.tech{
    font-size: 2.2vh;
    text-align: center;
    padding-top: 1.3vh;
}
.links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4.7vh;
}

.github a,
.website a{
    font-size: 3vh;
    color:#34495e;
    text-decoration: none;
    padding-left: 6vw;
}


.instagramLiker:hover,
.problemSolver:hover,
.jiraAppTasker:hover,
.excelClone:hover,
.drum:hover{
    background-color: rgb(220, 239, 247);
}


.contacts{
    height: 110vh;
    width: 100vw;
    overflow:hidden;
    display: flex;
    justify-content: center;
}

.heading3{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 5.5vh;
    padding-top: 5.5vh;
    text-align: center;
    padding-left: 2.8vw;
}
.line{
    font-size: 2.7vh;
    color: gray;
    text-align: center;
    padding-top: 2vh;
    font-family: 'Caveat', cursive;
    padding-left: 2.8vw;
}

.contact img{
    height: 8vh;
    width: 8vw;
    border-radius: 50%;
    background-size: contain;
    margin-top: 8vh;
    margin-right: 10vw;
}


.insta2{
    margin-left: 7vw;
}

hr{
    margin-top: 3vh;
    color: gray;
}

.messageHere{
    padding-top: 3.5vh;
    color: #34495e;
    margin-left: 140px;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 3.5vh;
    margin-bottom: 3.5vh;
}


.contact-form{
   height:60vh;
   background-color: #e7f2fd;
   padding-top: 3.5vh;
   width: 28vw;
   box-shadow: 2px 2px 3px 1px rgb(185, 177, 177);
   margin-left: 8vh;

}

.form-control{
    width: 26.5vw;
    font-size: 2.7vh;
    margin-bottom: 2vh;
    padding-left: 1.6vw;
}

.name,
.email{
    height: 4.5vh;
}

.message{
    height: 18vh;
}

.submit{
    background: #34495e;
    border-color: transparent;
    font-size: 1.8vh;
    color: white;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 17vw;
    width: 9vw;
    border-radius: 5px;
}

form .submit:hover{
    background-color: black;
    cursor: pointer;
}

.form-control input,
.form-control textarea{
    width: 100%;
    padding: 1vh;
    margin-top: 1.2vh;
    outline: none;
    border: none;
}

.form-control label{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    color:#34495e;
}


.end{
    width: 100vw;
    height: 50vh;
    background-color: rgb(230, 225, 225);
    text-align: center;
    overflow: hidden;
}

.links{
    display: flex;
    justify-content: center;
    transform: translate(-50px);
}


.links img{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-size: contain;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-bottom: 7vh;
}

.end h1{
    padding-top: 4vh;
    font-size: 6vh;
    color: #34495e;
    font-family: 'Bree Serif', serif;
    padding-bottom: 2vh;
}

.end p{
    padding-top: 2vh;
    font-family: 'Libre Baskerville', serif;
    color: rgb(80, 8, 8);
}


